{% extends 'base.html' %}
{% block style %}
    <style>
        html, body {
            height: 100%;
            font-family: 'Roboto', sans-serif;
            background-color: #222;
            {#background-image: linear-gradient(#A5A5A5, #59545A);#}
            color: whitesmoke;
        }

        .login-form-container {
            width: 300px;
            margin: auto;
        }

        .registration-form-container {
            width: 400px;
            margin: auto;
        }

        .outer-area {
            margin-top: 100px;
        }

        .auth-box {
            {#border: 3px solid whitesmoke;#}
            {#border-radius: 10px;#}
            width: 600px;
            margin: auto;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="outer-area">
        <div class="auth-box text-center">
            {% block auth %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
